#Footer {
  text-align: center;
}

#FooterDark {
  background-color: #303030;
  width: 100%;
  height: 320px;
  padding: 40px;
  margin-top: 20px;
  font-size: 20px;
}

#FooterDark >p {
  padding-top: 50px;
  color: white;
}
