#Graduate{
  text-align: center;
}
#GraduateDegrees>div {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

#GraduateDegrees>div>div {
  width: calc(33% - 50px);
  padding: 25px;
  margin: 25px;
}
#Graduate .ist:before {
  content: "\f11c";/*fa-keyboard-o*/
  color: #fe2a70;
}
#Graduate .hci:before {
  content: "\f24a";/*fa-sticky-note-o*/
  color: #f8b64d;
}
#Graduate .nsa:before {
  content: "\f233";/*fa-server*/
  color: #00a2ff;
}
#Graduate #GraduateCertifications i:first-of-type:before {
  content: "\f13b";/*fa-html5*/
  color: #FFA44F;
}
#Graduate #GraduateCertifications i:last-of-type:before {
  content: "\f0e8";/*fa-sitemap*/
  color:#7454CC;
}
