#People {
  text-align: center;
  background-color: #424242;
  color: white;
  padding: 40px 0;
}
#People .faculty {
  display: flex;
  flex-wrap:wrap;
}
#People .faculty>a {
  width: calc(23% - 4px);
  margin: 1%;
  border: 1px solid white;
}
