#ResearchAreas {
  text-align: center;
}

#ResearchAreas>div {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 40px 0;
  margin-left: 5%;
}
#ResearchAreas>div>div {
  height: 13.2vw;
  width: 13.2vw;
  margin: 1%;
  color: white;
  border-radius: 100%;
}
#ResearchAreas .research-wrapper {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#ResearchAreas .research-wrapper>p {
  width: 80%;
  margin: 0 auto;
}
#ResearchAreas .research-wrapper>i {
  margin-top:10px;
}

#ResearchAreas>div>div:after {
  content: '\0020';
  display: block;
  margin-top: 56.25%; /* 16:9 aspect */
}
#ResearchAreas i.analytics:before {
  content: "\f260";/*fa-gg*/
}
#ResearchAreas div.analytics {
  background-color: #F4B350;
}
#ResearchAreas i.database:before {
  content: "\f1c0";/*fa-database*/
}
#ResearchAreas div.database {
  background-color: #22313F;
}
#ResearchAreas i.education:before {
  content: "\f044";/*fa-pencil-square-o*/
}
#ResearchAreas div.education {
  background-color: #F64747;
}
#ResearchAreas i.geo:before {
  content: "\f041";/*fa-map-marker*/
}
#ResearchAreas div.geo {
  background: #E08283
}
#ResearchAreas i.hci:before {
  content: "\f007";/*fa-user*/
}
#ResearchAreas div.hci {
  background: #3498DB
}
#ResearchAreas i.health-informatics:before {
  content: "\f21e";/*fa-heartbeat*/
}
#ResearchAreas div.health-informatics {
  background: #019875
}
#ResearchAreas i.mobile:before {
  content: "\f10b";/*fa-mobile*/
}
#ResearchAreas div.mobile {
  background: #6C7A89
}
#ResearchAreas i.networking:before {
  content: "\f0e8";/*fa-sitemap*/
}
#ResearchAreas div.networking {
  background: #68C3A3
}
#ResearchAreas i.programming:before {
  content: "\f016";/*fa-file-o*/
}
#ResearchAreas div.programming {
  background-color: #F2784B;
}
#ResearchAreas i.system-administration:before {
  content: "\f233";/*fa-server*/
}
#ResearchAreas div.system-administration {
  background-color: #3A539B;
}
#ResearchAreas i.ubiquitous-computing:before {
  content: "\f152";/*fa-caret-square-o-right*/
}
#ResearchAreas div.ubiquitous-computing {
  background-color: #34495E;
}
#ResearchAreas i.web:before {
  content: "\f247";/*fa-object-group*/
}
#ResearchAreas div.web {
  background-color: #D64541;
}
