#Undergraduate {
  text-align: center;
  padding: 40px 0;
}
#Undergraduate>div {
  display: flex;
  flex-wrap: nowrap;
}
#Undergraduate>div>a {
  width: calc(33% - 50px);
  padding: 25px;
  margin: 25px;
}
#Undergraduate .wmc:before {
  content: "\f0ac";/*fa-globe*/
  color: #fe2a70;
}
#Undergraduate .hcc:before {
  content: "\f256";/*fa-hand-stop-o*/
  color: #f8b64d;
}
#Undergraduate .cit:before {
  content: "\f109";/*fa-laptop*/
  color: #00a2ff;
}
